body {
    font-family: verdana;
    color: white;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
    font-weight: 150;
}

a {
    color: aquamarine;
    font-size: 16px;
}

footer h3 {
    text-align: right;
}

video {
    margin-top: 20px;
}

.icon {
    margin-top: 20px;
}
